@model Semita3.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketSubmitter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketSubmitter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketPriority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketPriority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketCreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketCreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketUpdatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketUpdatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketComment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TicketId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
